<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css"  media="all">
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
</script>
<script src="../../resources/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['table','jquery','layer','form'], function(){
        var table = layui.table
        table.render({
                elem: '#test'
                ,url:'/message/messageInfo'
                ,title: '消息管理'
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,cols: [
                    [
                        {field:'title', title:'标题' ,fixed: 'left',align:'center'}
                        ,{field:'content', title:'内容',  fixed: 'left',align:'center'}
                        ,{field:'username', title:'业主',  fixed: 'left',align:'center'}
                        ,{field:'createtime', title:'创建时间',  fixed: 'left',align:'center'}
                        ,{field:'type', title:'申请类型',  fixed: 'left',align:'center',templet:"#type"}
                        ,{field:'flag', title:'状态',  fixed: 'left',align:'center',templet:"#flag"}
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150,align:'center'}
                    ]
                ]
            })
        table.on('tool(test)', function(obj){
            if(obj.event === 'detail'){
                location.href="/message/messageDetail?id="+obj.data.id
            }}
            )
    });
</script>
<script type="text/html" id="type">
    {{# if (d.type==0) { }}
    <span>投诉</span>
    {{# } if(d.type==1) { }}  
    <span>家属申请</span>
    {{# } if(d.type==2) { }}  
    <span>车位申请</span>
    {{# } if(d.type==3) { }}  
    <span>报修</span>
    {{# }}}  
</script>
<script type="text/html" id="flag">
    {{# if (d.flag==0) { }}
    <span>未处理</span>
    {{# } else if(d.flag==1) { }}  
    <span>已处理</span>
    {{# } else if(d.flag==2) { }}  
    <span>已取消</span>
    {{# }}}  
</script>
</body>
</html>
