<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css"  media="all">
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script src="../../resources/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['table','jquery','layer','form'], function(){
        var table = layui.table
        //渲染车位信息数据表格
        var tabl=table.render({
            elem: '#test'
            ,url:'/flat/flatOwnerInfo'
            ,title: '房屋信息管理'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,cols: [
                [
                    {field:'id', title:'ID',  fixed: 'left' ,align:'center',hide:true}
                    ,{field:'block', title:'楼栋' ,fixed: 'left',align:'center'}
                    ,{field:'unit', title:'单元',  fixed: 'left',align:'center'}
                    ,{field:'floor', title:'楼层'  ,fixed: 'left',align:'center'}
                    ,{field:'room', title:'房间' ,fixed: 'left',align:'center'}
                    ,{field:'no', title:'房间编号',  fixed: 'left',align:'center'}
                    ,{field:'space', title:'建筑面积' ,fixed: 'left' ,align:'center'}
                    ,{field:'layout', title:'户型' ,fixed: 'left',align:'center'}
                    ,{field:'createtime', title:'购房时间' ,fixed: 'left',align:'center'}
                     ]
                ]
        }
        );
        });
</script>

</body>
</html>