<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css"  media="all">
</head>
<body>
<div style="margin: 30px">

        <div class="layui-form-item" style="display: flex;justify-content: center;align-items: center;  ">
            <img class="layui-upload-img" style="border-radius: 100px;width:200px;height:200px;" id="userFace" src=""></div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly class="layui-input" th:value="${account}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly class="layui-input" th:value="${username}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly class="layui-input" th:value="${sex}==0?'男':'女'">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" name="creattetime" readonly class="layui-input" th:value="${phone}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" readonly class="layui-input" th:value="${address}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证</label>
            <div class="layui-input-block">
                <input type="text" name="card" readonly class="layui-input" th:value="${card}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="address" readonly class="layui-input" th:value="${age}">
            </div>
        </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
        <div class="layui-input-block">
            <button class="layui-btn " id="toModPwd">修改密码</button>
            <button class="layui-btn " id="toModAvatar">更换头像</button>
        </div>
    </div>
   </div>
<script src="../../resources/layui/jquery.min.js" ></script>
<script src="../../resources/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    function a(){
        history.go(-1);
    }
    layui.use(['jquery','form'], function(){
        var $=layui.jquery;
        $.post("/login/url",function(res){
            $('#userFace').attr("src", res);
        })
        $.post("/login/ok",function(res){
            console.log(res)
            if (res==null||res==""){
                location.href="../../page/login/login.html"
            }
        })
        $("#toModPwd").click(function(){
            var id = $("#id").val();
            location.href="/login/toModPwd"
        })
        $("#toModAvatar").click(function(){
            var id = $("#id").val();
            location.href="/login/tomodAvatar"
        })
    });
</script>


</body>
</html>
