<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css"  media="all">

</head>
<body>
<div class="layui-btn-container" style="margin:50px 0 20px 20px ">
    <a href="/announcement/toAddAnnouncement"><button type="button" class="layui-btn" >新增公告</button></a>
</div>
<div style="text-align: center">
    <p style="font-size: 50px;letter-spacing: 20px;margin: 20px">管理业主公告</p>
</div>
<!-- 表格 -->
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="../../resources/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table
        var $=layui.jquery
        table.render({
                elem: '#test'
                ,url:'/announcement/announcementList'
                ,title: '公告通知'
                ,cols: [
                    [
                        {field:'title', title:'最新通知', width:'75%', fixed: 'left',align:'left'}
                        ,{field:'publishtime', title:'公布时间' ,width:'15%',fixed: 'left',align:'right'}
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:'10%',align:'center'}
                    ]
                ],page:true
            })
        table.on('tool(test)', function(obj){
            if(obj.event === 'detail'){
                location.href="/announcement/announcementDetail?id="+obj.data.id
            }
            if(obj.event === 'del'){
                deleteNotice(obj.data);
            }
        });
        function deleteNotice(data){
            console.log(data.id)
            layer.confirm('你确定要删除吗?', {icon: 3, title:'提示'}, function(index){
                $.post("/announcement/delAnnouncement",{id:data.id},function(res){
                    layer.msg(res.msg);
                })
                layer.close(index);
                tab.render()
            });

        }
    })
</script>
</body>

</html>