<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/resources/layui/css/layui.css"  media="all">
</head>
<body>
<form class="layui-form"  style="margin-top: 20px;margin-left:35%;">
    <div class="layui-form-item">
        <div class="x-body layui-form" style="width: 300px">
            <p style="font-size:large;margin-left: 20px">房间编号</p>
            <input  id="no" name="no" style="font-size: xx-large;margin-top: 50px;border:none" th:value="${#request.getAttribute('no')} " />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="x-body layui-form" style="width: 300px">
            <select name="owner" id="classifyId" lay-verify="required">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div style="margin: 30px 0 0 100px">
            <button type="submit" class="layui-btn" lay-submit lay-filter="add">添加</button>
            <button type="button" class="layui-btn layui-btn-normal" onclick="a()">返回</button>
        </div>
    </div>
</form>


<script src="/resources/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    function a(){
        history.go(-1);
    }
    layui.use(['form','jquery'], function() {
        var $=layui.jquery
        var form=layui.form
        $.post("/login/ok",function(res){
            console.log(res)
            if (res==null||res==""){
                location.href="../../page/login/login.html"
            }
        })
        var no=$("#id").val()
        getClassify();


        function getClassify() {
            $.ajax({
                url: '/flat/searchOwner',
                success: function (res) {
                     console.log(res)
                     console.log(Object.keys(res.data).length)
                     var length=Object.keys(res.data).length
                    console.log(length)
                    for(var i =0;i<length;i++){
                        $("#classifyId").append("<option value=\""+res.data[i].username+"\">"+res.data[i].username+"</option>");
                    }
                    //重新渲染
                    layui.form.render("select");
                }
            });
        }
        form.on("submit(add)", function (data) {
            var btn =  $(this);
            console.log(data.field)
            console.log(JSON.stringify(data.field))
            $(this).text("添加中...").attr("disabled", "disabled").addClass("layui-disabled");
            //设置登录按钮  为不可点击
            btn.text("添加中...").attr("disabled","disabled").addClass("layui-disabled");
            $.post("/flat/addBindFlat",data.field,function(rs){
                //设置登录按钮 恢复可点击   在前端防止 重复点击
                console.log("添加中...")
                btn.text("添加").attr("disabled",false).removeClass("layui-disabled");
                layer.msg(rs.msg);
                if(rs.code != 1){
                    layer.msg(rs.msg);
                }else{
                    //跳转到templates/list.html页面
                    layer.msg(rs.msg);
                    location.href="/page/flat/flatInfo.html";
                }
            });
        })
    })
</script>

</body>
</html>