<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css"  media="all">
</head>
<body>
<div class="layui-btn-container" style="margin:50px 0 20px 20px ">
    <a href="/fac/toAddFacility"><button type="button" class="layui-btn layui-btn-normal layui-btn-radius" >新增公共设备</button></a>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>
<div id="modDiv" style="display: none;margin: 10px">
    <form class="layui-form"  style="margin-top: 20px;margin-left:20%;">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block" >
                <input type="hidden" name="id" readonly placeholder="" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公共设备</label>
            <div class="layui-input-block" style="width: 300px">
                <input type="text" name="facility"   placeholder="请输入公共设备" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">区域</label>
            <div class="layui-input-block" style="width: 300px">
                <input type="text" name="area"  readonly placeholder="请输入区域" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block" style="width: 300px">
                <select name="state" id="" >
                    <option value="0">正常</option>
                    <option value="1">损坏</option>
                    <option value="2">维修中</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="mod">修改</button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="../../resources/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['table','jquery','layer','form'], function(){
        var table = layui.table
        var layer = layui.layer
        var $=layui.jquery
        var form=layui.form
        $.post("/login/ok",function(res){
            console.log(res)
            if (res==null||res==""){
                location.href="../../page/login/login.html"
            }
        })
        form.on("submit(mod)",function(data){
            $.post("/fac/modFacility",data.field,function(res){
                if(res.code != 1){
                    layer.msg(res.msg);
                }else{
                    layer.msg(res.msg);
                    location.href="/page/facility/facilityInfo.html";
                }
            })})
        var tabl=table.render({
            elem: '#test'
            ,url:'/fac/facilityInfo'
            ,title: '公共设备信息'
            ,cols: [
                [
                {field:'id', title:'ID',  fixed: 'left',align:'center',hide:true}
                ,{field:'facility', title:'公共设备' ,fixed: 'left',align:'center'}
                ,{field:'area', title:'区域',  fixed: 'left',align:'center'}
                ,{field:'state', title:'状态' ,fixed: 'left',align:'center' ,templet:"#state"}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150,align:'center'}
            ]
                ],page:true
        }
        );
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.open({
                type:1,
                content:$("#modDiv"),
                area:['600px','400px'],
                    cancel: function(){
                        layer.close(1);
                    },
                    success:function(){
                            $("[name='id']").val(data.id);
                            $("[name='facility']").val(data.facility);
                            $("[name='area']").val(data.area);
                            $("[name='state']").find("option[value = '"+data.state+"']").attr("selected","selected")
                            form.render()
                        }}
            )
            }
            if(obj.event === 'del'){
                    console.log(JSON.stringify(data))
                deleteNotice(data)
            }
        });
        function deleteNotice(data){
            layer.confirm('你确定要删除吗?', {icon: 3, title:'提示'}, function(index){
                $.post("/fac/delFacility",{id:data.id},function(res){
                    layer.msg(res.msg);
                })
                layer.close(index);
                tabl.reload();
            });

        }
        });


</script>

<script type="text/html" id="state">
    {{# if (d.state==0) { }}
    <span>正常</span>
    {{# } if(d.state==1) { }}  
    <span>损坏</span>
    {{# } if(d.state==2) { }}  
    <span>维修中</span>
    {{# }}}  
</script>
</body>
</html>